.DS_Store

/.idea/*
!/.idea/
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles
!/.idea/depose.iml
!/.idea/modules.xml
!/.idea/php.xml
!/.idea/vcs.xml

/.idea/dictionaries/*
!/.idea/dictionaries/
!/.idea/dictionaries/alwin.xml

/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/Project_Default.xml

/composer.lock
/vendor
